body {
    background: #e8edf1;
    height: 100vh;
}

#canvas {
    background-image: url(../img/display_min.jpg);
    background-repeat: repeat;
    transform-origin: 0 0;
}

/* asd */
.checkImg {
    border: 1px solid black;
}

.flexBtnLeft {
    cursor: nw-resize;
}

.flexBtnRight {
    cursor: ne-resize;
}

.trackController {
    background: #f4f5f5;
    border: 1px solid #ccc;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: none;
}

.trackBox .clearfix:last-child .trackController {
    border-bottom: 1px solid #ccc;
}

.trackController .glyphicon {
    float: right;
    line-height: 30px;
    top: auto;
    color: #c7c7c7;
}

.trackContent {
    height: 30px;
    background: #f4f5f5;
    border: 1px solid #ccc;
    padding: 0;
    border-bottom: none;
}

.trackBox .clearfix:last-child .trackContent {
    border-bottom: 1px solid #ccc;
}

.timeLine {
    position: fixed;
    bottom: 0;
    width: 80%;
    margin: 0 0 10px 25px;
}

.ui-widget-content .ui-slider-handle.ui-state-default {
    background: #289b93;
    border-color: #289b93;
    outline: none;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
    width: 15px;
    height: 25px;
    margin-left: -7px;
    top: -7px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.ui-widget-header {
    background: #289b93 50% 50% repeat-x;
    color: #fff;
    font-weight: bold;
}

.timeLine {
    width: 65%;
}

.sliderContainer {
    margin-top: 10px;
}

.row {
    margin-right: 0;
}

.silderBlock {
    box-shadow: 0px 0px 3px #888888;
    background-color: white;
    height: 30px;
    position: absolute;
    display: inline-block;
    width: 5%;
    text-align: center;
    cursor: move;
    overflow: hidden;
}

.trackBox {
    overflow-y: overlay;
    overflow-x: hidden;
    height: 120px;
    margin-bottom: 10px;
}

.checkEle {
    background: #289b93;
    color: white;
}

.eleWidthR {
    right: 0;
}

.eleWidthL {
    left: 0;
}

.eleWidth {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: w-resize;
}

#circles-slider {
    padding: 0;
}

.row-right {
    position: fixed;
    right: 0;
    border: 1px solid #cbcfd2;
    padding: 0;
    border-top: none;
}

#itemIndex {
    margin-bottom: 10px;
}

.material {
    width: 100px;
    height: 100px;
    margin: 5px 0;
}

.itemBox {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 0 15px;
}

#myTabContent {
    background: #f4f5f5;
    overflow-y: auto;
}

.defaultAdd {
    border: 1px dashed #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultAdd img {
    width: 50px;
    height: 50px;
}

.breadcrumb {
    margin: 0;
    background: white;
    padding: 12px 15px;
}

.breadcrumb a {
    text-decoration: none;
    cursor: pointer;
}

.timeLineBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    left: 0;
}

#myTab {
    background: #f4f5f5;
}

.breadcrumb a {
    font-size: 16px;
}

#ediBox {
    position: absolute;
    background: #f4f5f5;
    width: 100%;
}

.saveEdi {
    margin-top: 10px;
}

#videoEdi span {
    margin-right: 10px;
}

#ediBox {
    overflow-y: auto;
}

.inline-input {
    display: inline-block;
    width: initial;
}

.itemBox img {
    width: 100px;
    height: 100px;
}

.width100 {
    width: 100% !important;
}

#save {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    outline: none;
    font-size: 16px;
}

#play {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 100px;
    bottom: 10px;
    border-radius: 50%;
    outline: none;
    font-size: 16px;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.row-left {
    /* overflow: auto; */
    padding-top: 50px;
    padding-left: 30px;
}

.ef-ruler {
    overflow: auto;
}

#addTrack {
    padding-bottom: 5px;
    padding: 4px 12px;
}

.setBackground {
    z-index: 100 !important;
}

.canvasNav {
    position: fixed;
    top: 0;
    width: 200px;
}

#hiddenBox {
    overflow: auto;
}

.ctrlEle {
    border: 1px solid #333;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.flexBtn {
    width: 6px;
    height: 6px;
    position: absolute;
    background: black;
    border: 1px solid white;
    z-index: 9999;
    box-sizing: content-box !important;
}

.sliderBox {
    display: flex;
    align-items: center;
    position: relative;
    top: -5px;
}

.now-ele {
    background: #B0BED9;
    z-index: 9;
}

.imgbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgbox-container .item-container {
    padding: 0 5px;
    border: 2px solid #fff;
}

.check-item-imgbox {
    border: 2px solid #E91E63 !important;
}